
*.pyc
settings/user.json
settings/settings.json
logs/MYNet-#nostril.json
logs/MYNet-#themaxx.json
logs/EFnet-#themaxx.json
logs/2600net-#themaxx.json
logs/freenode-#themaxx.json
logs/MYNet-#flarpie.json
logs/EnterTheGame-#themaxx.json
logs/MYNet-#cheese.json
logs/MYNet-#flarp.json
logs/EFNet-#funk.json
logs/EFNet-#funkynutzh.json
