
*.pyc
settings/user.json
settings/user.json
settings/settings.json
logs/EFnet-#themaxx.json
logs/MYNet-#themaxx.json
logs/MYNet-#beep.json
logs/MYNet-#beef.json
logs/EFnet-#erk.json
logs/MYNet-#erk.json
logs/2600net-#themaxx.json
logs/DALnet-#themaxx.json
logs/Unknown-#themaxx.json
logs/QuakeNet-#themaxx.json
logs/QuakeNet-#monolith.json
logs/2600net-#erk.json
logs/QuakeNet-#shogo.json
logs/MYNet-#quirc.json
*.odt#
settings/disabled.json
logs/EnterTheGame-#themaxx.json
logs/DALnet-#erk.json
logs/EnterTheGame-#shogomad.json
logs/freenode-#themaxx.json
logs/MYNet-#blarp.json
logs/MYNet-#cheese.json
logs/MYNet-#flarp.json
plugins/grab.py
plugins/grab/grab.py
plugins/grab/package.png
plugins/grab/package.txt
