
*.pyc
settings/user.json
settings/user.json
settings/settings.json
logs/EFnet-#themaxx.json
logs/MYNet-#themaxx.json
logs/MYNet-#beep.json
logs/MYNet-#beef.json
logs/EFnet-#erk.json
logs/MYNet-#erk.json
logs/2600net-#themaxx.json
logs/DALnet-#themaxx.json
logs/Unknown-#themaxx.json
logs/QuakeNet-#themaxx.json
