/*
	This file uses a sub-set of CSS used by Qt called "QSS"
	https://doc.qt.io/qt-5/stylesheet-syntax.html
*/

timestamp {
	font-weight: bold;
}

username {
	color: #1988ff;
	font-weight: bold;
}

message {
}

system {
	font-style: italic;
	font-weight: bold;
	color: #FF8C00;
}

self {
	color: #ff5125;
	font-weight: bold;
}

action {
	color: #00b300;
	font-style: italic;
	font-weight: bold;
}

notice {
	color: #c900c9;
	font-weight: bold;
}

hyperlink {
	color: #1c64ff;
	font-weight: bold;
	text-decoration: underline;
}

all {
	color: #ffffff;
	background-color: #464646;
}

error {
	font-style: italic;
	font-weight: bold;
	color: #FF0000;
}

motd {
	font-weight: bold;
	color: #0000FF;
}

