/*
	This file uses a sub-set of CSS used by Qt called "QSS"
	https://doc.qt.io/qt-5/stylesheet-syntax.html
*/

timestamp {
	font-weight: bold;
}

username {
	color: #3358ff;
	font-weight: bold;
}

message {
}

system {
	font-style: italic;
	font-weight: bold;
	color: #FF8C00;
}

self {
	color: #ff4c10;
	font-weight: bold;
}

action {
	color: #009900;
	font-style: italic;
	font-weight: bold;
}

notice {
	color: #b300b3;
	font-weight: bold;
}

hyperlink {
	color: #0c79ff;
	font-weight: bold;
	text-decoration: underline;
}

all {
	color: #ffffff;
	background-color: #444444;
}

error {
	font-style: italic;
	font-weight: bold;
	color: #FF0000;
}

motd {
	font-weight: bold;
	color: #0000FF;
}

